crepes >= 0.7.1
ipython
scikit-learn
matplotlib >= 3.4
myst_parser>=3.0.1
nbsphinx>=0.9.8
numpy >= 1.20
numpydoc
pytest
pydata_sphinx_theme>=0.16.1
furo==2025.12.19
sphinxcontrib-mermaid==1.2.3
linkify-it-py==2.0.3
sphinx>=8.0.0
docutils==0.22.4
sphinx_rtd_theme
venn-abers
roman
